@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html {
  scroll-behavior: smooth;
}

.font-bricolage-grotesque {
  font-family: var(--font-bricolage-grotesque), sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-geist-mono), "Courier New", monospace;
  --font-inter: var(--font-inter);
  --font-bricolage-grotesque: var(--font-bricolage-grotesque);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

body {
  font-family: var(--font-family-inter);
}

.chroma-text-out.text-white,
[class*="text-white"] .chroma-text-out {
  background-image:
    linear-gradient(
      90deg,
      #0000 0% 33.33%,
      #c679c4 40%,
      #fa3d1d 45%,
      #ffb005 50%,
      #e1e1fe 55%,
      #0358f7 60%,
      #fff 66.67% 100%
    ),
    linear-gradient(
      270deg,
      #0000 0% 33.33%,
      #c679c4 40%,
      #fa3d1d 45%,
      #ffb005 50%,
      #e1e1fe 55%,
      #0358f7 60%,
      #fff 66.67% 100%
    );
}

.chroma-text-out {
  background-blend-mode: normal;
  will-change: background-position;
  background-image:
    linear-gradient(
      90deg,
      #0000 0% 33.33%,
      #c679c4 40%,
      #fa3d1d 45%,
      #ffb005 50%,
      #e1e1fe 55%,
      #0358f7 60%,
      #000 66.67% 100%
    ),
    linear-gradient(
      270deg,
      #0000 0% 33.33%,
      #c679c4 40%,
      #fa3d1d 45%,
      #ffb005 50%,
      #e1e1fe 55%,
      #0358f7 60%,
      #000 66.67% 100%
    );
  background-position:
    100% 0,
    100% 0;
  background-size:
    300% 100%,
    300% 100%;
}

.chroma-text-out,
.chroma-text-out-animate {
  -webkit-text-fill-color: transparent;
  font: inherit;
  z-index: 1;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline;
  position: relative;
  font-size: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
  letter-spacing: inherit !important;
  text-transform: inherit !important;
  -webkit-text-decoration: inherit !important;
  text-decoration: inherit !important;
}

.group:hover .chroma-text-out-animate {
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: chroma-move;
}

@keyframes chroma-move {
  0% {
    background-position:
      100% 0,
      100% 0;
  }

  /* Animation completes at 33% (0.5s of 1.5s) */
  33% {
    background-position:
      0 0,
      0 0;
  }

  /* Hold the final state until the end (pause) */
  100% {
    background-position:
      0 0,
      0 0;
  }
}



.chroma-card-title {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline;
  position: relative;
  font: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  background-blend-mode: normal;
  will-change: background-position;
  background-image:
    linear-gradient(
      90deg,
      #0000 0% 33.33%,
      #c679c4 40%,
      #fa3d1d 45%,
      #ffb005 50%,
      #e1e1fe 55%,
      #0358f7 60%,
      #000 66.67% 100%
    ),
    linear-gradient(
      270deg,
      #0000 0% 33.33%,
      #c679c4 40%,
      #fa3d1d 45%,
      #ffb005 50%,
      #e1e1fe 55%,
      #0358f7 60%,
      #000 66.67% 100%
    );
  background-size:
    300% 100%,
    300% 100%;
  background-position:
  0% 0,
  0% 0;
  animation: chroma-continuous-loop 4s linear infinite;
}
@keyframes chroma-continuous-loop {
  0% {
    background-position:
      0% 0,
      0% 0;
  }
  100% {
    background-position:
      -300% 0,
      -300% 0;
  }
}


:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
