@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-family-sans: var(--font-roboto), system-ui, -apple-system, sans-serif;
  --font-family-mono: var(--font-geist-mono), "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), system-ui, -apple-system, sans-serif;
}

.chroma-text-out.text-white,
[class*="text-white"] .chroma-text-out {
  background-image: linear-gradient(
      90deg,
      #0000 0% 33.33%,
      #c679c4 40%,
      #fa3d1d 45%,
      #ffb005 50%,
      #e1e1fe 55%,
      #0358f7 60%,
      #fff 66.67% 100%
    ),
    linear-gradient(
      270deg,
      #0000 0% 33.33%,
      #c679c4 40%,
      #fa3d1d 45%,
      #ffb005 50%,
      #e1e1fe 55%,
      #0358f7 60%,
      #fff 66.67% 100%
    );
}

.chroma-text-out {
  background-blend-mode: normal;
  will-change: background-position;
  background-image: linear-gradient(
      90deg,
      #0000 0% 33.33%,
      #c679c4 40%,
      #fa3d1d 45%,
      #ffb005 50%,
      #e1e1fe 55%,
      #0358f7 60%,
      #000 66.67% 100%
    ),
    linear-gradient(
      270deg,
      #0000 0% 33.33%,
      #c679c4 40%,
      #fa3d1d 45%,
      #ffb005 50%,
      #e1e1fe 55%,
      #0358f7 60%,
      #000 66.67% 100%
    );
  background-position: 100% 0, 100% 0;
  background-size: 300% 100%, 300% 100%;
}

.chroma-text-out,
.chroma-text-out-animate {
  -webkit-text-fill-color: transparent;
  font: inherit;
  z-index: 1;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline;
  position: relative;
  font-size: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
  letter-spacing: inherit !important;
  text-transform: inherit !important;
  -webkit-text-decoration: inherit !important;
  text-decoration: inherit !important;
}

.group:hover .chroma-text-out-animate {
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: chroma-move;
}

@keyframes chroma-move {
  0% {
    background-position: 100% 0, 100% 0;
  }

  /* Animation completes at 33% (0.5s of 1.5s) */
  33% {
    background-position: 0 0, 0 0;
  }

  /* Hold the final state until the end (pause) */
  100% {
    background-position: 0 0, 0 0;
  }
}
